.about-card {
    padding: 50px 30px 100px; 
}

.about-body {
    background-color:#1a2930; 
    color: white; 
    text-align: center; 
    padding: 30px; 
}

html {
    scroll-behavior: smooth; 
}

.footer-head {
    margin: 20px; 
}